body {
    font-family: roboto;
    margin: 0;
    
    
  }
  li {
    margin-right: auto;
    list-style: none;
   align-content: flex-start;
  }
  
  .nav-bar {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 5px;
   
   }
  
  .logo {
    color: #f9f8fa;
    font-size: 24px;
    
    
    
  }
  
  a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    
    
  }
  ul {
    display: flex;
    margin-left: auto;
    gap: 16px;
    
    
    
    
    
    
  }
  
  .navbar-links {
    display: flex;
    
    
  }
  
  
  .header-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #;
    padding: 5px;
   
    width: 50%;
    font-weight: 900;
    
  }
  .image-one {
    width: 400px;
    display: flex;
    align-self: center;
    height: 400px;
   
  }
  
  .text-and-image {
   display: flex;
    padding: 5px;
    align-items: flex-start;
  }
  .header {
    flex-direction: column;
    background-color: #1F2937;
    color: #e5e7eb;
    align-items: center;
    padding: 100px;
    
    
  }
  button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    
    
    
  }
  .first-text {
    display: flex;
    flex-direction: column;
  }
  .image-one {
    height: 200px;
    padding-left: 40px;
    display: flex;
    margin-top: -100px;
    padding-bottom: 120px;
    ;
    
  }
  
  .header-text {
    width: 50%;
    
  }
  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: -140px;
    padding-bottom: 30px;
    
    
  }